.main-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7ea;
}

.main-banner-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-banner__img {
  width: 685px;
  height: 510px;
}

.main-banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 100%;
  gap: 12px;
}

.text__title {
  display: flex;
}

.text__title p {
  font-weight: 300;
  font-size: 100px;
  line-height: 100%;
}

.text__title span {
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
}

.text__desktop {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: calc(25px * 0.3);
  color: #005cff;
  font-weight: 700;
  line-height: 100%;
}

.text__mobile {
  display: none;
}

.title__small {
  font-weight: 700;
  font-size: 60px;
  color: #005cff;
  line-height: 100%;
}

/* banner description*/

.banner {
  display: grid;
  grid-template-columns: 652px 1fr;
  max-width: 1177px;
}

.banner--reverse {
  grid-template-columns: 1fr 652px;
}

.banner--reverse .banner__img {
  grid-column: 2;
}

.banner--reverse .banner__text {
  grid-column: 1;
  padding-left: 0;
  padding-right: 37.5px;
}

.banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 105.5px 0;
  padding-left: 37.5px;
  row-gap: 22px;
  grid-column: span 1;
  grid-row: 1;
}

.banner__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2c2c2;
  grid-column: span 1;
  grid-row: 1;
}

.banner__img img {
  object-fit: contain;
  width: 100%;
  max-width: 524px;
}

.text-desktop,
.text-mobile {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: calc(18px * 0.05);
}

.text-mobile {
  font-size: 14px;
  letter-spacing: calc(14px * 0.05);
}

.banner__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: calc(30px * 0.04);
  line-height: 1.4;
  text-transform: uppercase;
}

.description__img {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 652px;
  height: 747px;
  align-items: center;
  background-color: #c2c2c2;
}

.description__img img {
  width: 528.17px;
  height: 528.17px;
  background-color: #c2c2c2;
}

.description__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 487px;
  height: 536px;
}

div .text__titles {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: calc(30px * 0.04);
}

.text__description {
  white-space: pre;
  font-size: 18px;
  letter-spacing: calc(18px * 0.05);
  line-height: 140%;
  font-weight: 400;
}

/*banner specification*/

.banner__specification {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 49px;
  width: 100%;
  max-width: 1930px;
  height: 819px;
  background-color: #dedede;
}

.specification {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 476px;

  height: 567px;
  align-items: center;
  background-color: #dedede;
  gap: 50px;
}

.specification__img-main img {
  max-width: 652px;
  height: 728.19px;
}

.specification__title {
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: calc(30px * 0.04);
  color: #4f4f4f;
}

.specification__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container__img {
  background-color: #005cff;
  padding: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.container__img img {
  width: 45px;
  height: 45px;
}

.specification__container p {
  font-size: 18px;
  color: #4f4f4f;
  letter-spacing: calc(18px * 0.05);
  font-weight: 400;

}

.second-banner {
  width: 100%;
  height: 660px;
  background-size: cover;
  background-image: url("../assets/footer/banner2.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.second-banner__text {
  width: 100%;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #005cff;
}

.second-banner__text p {
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
}

.text-mobile {
  display: none;
}

.text-desktop {
  display: block;
}

@media (max-width:767px) {


  .main-banner {
    width: 100vw;
    height: 306px;
    position: relative;
  }

  .main-banner-img {
    width: 100%;
    position: absolute;
    left: -33.5%;
    height: 100%;
  }

  .main-banner__img {
    width: 100%;
    max-width: 411px;
    height: 100%;
  }

  .main-banner__text {
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-right: 38px;
    max-width: 139px;
    height: 164px;
    right: -7%;
    position: absolute;
  }

  .text__title {
    max-width: 139px;
    height: 80px;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
  }

  .text__title p {
    font-size: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
  }

  .text__title span,
  .text__title {
    font-size: 40px;
  }

  .text__desktop {
    display: none;
  }

  .text__mobile {
    display: block;
    color: #005cff;
    width: 100%;
    height: 16px;
    text-transform: uppercase;
  }

  .text__mobile p {
    font-weight: 600;
    max-width: 139px;
  }

  .title__small {
    font-size: 32px;
  }

  .banner {
    width: 100vw;
    padding: 23px 0 0 0;
    height: 732px;
    display: flex;
    flex-direction: column;
  }

  .banner-two {
    margin-top: 86px;
  }

  .banner__text {
    width: 100%;
    padding: 0px 23.5px;
    box-sizing: border-box;
    height: 260px;
    margin: 68px 0 0px 0;
    padding-left: 24px;
    row-gap: 22px;
    grid-column: span 1;
    grid-row: 1;
  }

  .banner__img {
    width: 100vw;
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner__img img {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 7.5px;
    height: calc(570px * 1.46);
  }

  .banner__text {
    width: 100%;
    padding: 0px 23.5px;
    box-sizing: border-box;
    height: 246px;
  }

  .banner__title {
    font-size: 24px;
    letter-spacing: calc(24px * 0.04);
  }

  .banner__text p {
    letter-spacing: calc(14px * 0.05);
    width: 100%;
    box-sizing: border-box;
    height: 260px;
  }



  .content-wrapper--gray {
    width: 100vw;
    height: 100%;
    padding-top: 20px;

  }

  .banner__specification {
    flex-direction: column-reverse;
    gap: 0;
    height: 717px;
    padding-bottom: 48px;
  }

  .specification {
    gap: 21px;

  }

  .specification__title {
    font-size: 20px;
    color: #000000;
  }

  .specification__container {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    height: 68px;
    gap: 14px;
  }

  .container__img {
    padding: 14.6px;
  }

  .container__img img {
    width: 30px;
    height: 30px;
  }

  .specification__container p {
    width: 100%;
    color: #000000;
    font-size: 12px;
    line-height: 140%;
    height: 68px;
    letter-spacing: calc(12px * 0.05);

  }

  .specification__img-main img {
    object-fit: contain;
    width: 89vw;
    max-height: 400px;
    padding: 21px 0;
  }

  .second-banner {
    width: 100vw;
    height: 449px;
    background-position: bottom center;
    background-image: url("../assets/footer/quarto-banner.png");
  }

  .second-banner__text {
    width: 100%;
    height: 75px;
  }

  .second-banner__text p {
    padding: 0px 11px;
    box-sizing: border-box;
    height: 39px;
    font-size: 16px;
  }

  .text-mobile {
    display: block;
  }

  .text-desktop {
    display: none;
  }



}

@media (min-width: 768px) and (max-width: 1024px) {



  .banner__specification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 100vw;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #dedede;
  }

  .specification {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 476px;
    height: auto;
    align-items: center;
    background-color: #dedede;
    gap: 20px;
  }

  .specification__img-main img {
    max-width: 100%;
    height: auto;
  }

  .specification__title {
    font-size: 26px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: calc(26px * 0.04);
    color: #4f4f4f;
    margin-bottom: 20px;
  }

  .specification__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .container__img {
    background-color: #005cff;
    padding: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .container__img img {
    width: 35px;
    height: 35px;
  }

  .specification__container p {
    font-size: 16px;
    color: #4f4f4f;
    letter-spacing: calc(16px * 0.05);
    font-weight: 400;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .main-banner {
    width: 100vw;
    height: 400px;
    position: relative;
  }

  .main-banner-img {
    width: 100%;
    position: absolute;
    left: -20%;
    height: 100%;
  }

  .main-banner__img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    object-fit: cover;
  }

  .main-banner__text {
    margin-right: 30px;
    max-width: 200px;
    height: 200px;
    right: 5%;
    position: absolute;
    text-align: center;

  }

  .text__title {
    max-width: 200px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text__title p {
    font-size: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
  }

  .text__title span,
  .text__title {
    font-size: 60px;
    font-weight: bold;
  }

  .text__desktop {
    display: none;
  }

  .text__mobile {
    display: block;
    color: #005cff;
    width: 100%;
    height: 20px;
    text-transform: uppercase;
  }

  .text__mobile p {
    font-weight: 600;
    max-width: 180px;
    text-align: center;
  }

  .title__small {
    font-size: 40px;
  }

  .banner {
    width: 100vw;
    padding: 20px 0;
    height: 750px;
    display: flex;
    flex-direction: column;
  }

  .banner__text {
    width: 100%;
    padding: 20px 25px;
    box-sizing: border-box;
    height: 280px;
    margin: 70px 0 0px 0;
    padding-left: 30px;
    row-gap: 25px;
  }

  .banner__img {
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner__img img {
    width: 60%;
    box-sizing: border-box;
    padding: 0px 10px;
    height: calc(570px * 1.5);
  }

  .banner__title {
    font-size: 26px;
    letter-spacing: calc(26px * 0.04);
  }

  .banner__text p {
    letter-spacing: calc(16px * 0.05);
    width: 100%;
    box-sizing: border-box;
    height: 280px;
  }
}