.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}

.footer-info {
  width: 100%;
  max-width: 1160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 386px;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  max-width: 1160px;
  align-items: flex-start;
  justify-content: center;
}

.container__social {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 194px;
  height: 93px;
  gap: 40px;
}

.container__social img {
  width: 152.12px;
  height: 27px;
}

.social__media {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 194px;
  height: 26px;
  gap: 30px;
}

.container__service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 11px;
}

.container__service h4 {
  width: 111px;
  height: 19px;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  line-height: 1;
}
.service__text h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #303030;
}

.footer__payment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
  width: 100%;
}

.footer__payment div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34.22px;

  height: 24px;
}

.footer__message .text-desktop {
  text-align: center;
  padding: 40px 0;
  width: 100%;
  max-width: 1144px;
  height: 59px;
  font-size: 12px;
  color: #303030;
}

.footer__sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.sponsors__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-btn-mobile, .text-mobile__message {
  display: none;
}

@media (max-width: 390px) {
  footer {
    height: 100vh;
    width: 100%;
    max-width: 390px;
    padding-top: 40px;
    
  }

  .footer-info{
    height: auto;
  }

  .footer__container {
    max-width: 390px;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-template-columns: none;
  
  }

  .container__social {
    max-width: 197px;
    height: 93px;
    padding-bottom: 48px;
    align-items: center;
  }

  .social__media {
    padding-bottom: 48px;
  }

  .service__text {
    display: none;
  }



  .service-tela{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 358px;
  }

  .service-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 16px;
  }

  .footer__payment {
    max-width: 288.4px;
    height: 64.67px;
  }

  .footer__payment-main {
    flex-direction: column;
  }

  .footer__message {
    padding: 40px 16px 0px 16px;
    gap: 40px;
    height: 131px;
    max-width: 358px;
  }
  .footer__message .text-mobile__message {
    display: block;
    font-size: 12px;
    line-height: 20px;
    max-width: 358px;
    height: 59px;
  }

  .footer__sponsors {
    padding-top: 40px;
    padding-bottom: 15px;
  }

  .text-desktop {
    display: none;
  }

  .footer-btn-mobile, .text-mobile__message {
    display: block;
  }

  .service-info{
    flex-direction: column;
  }

  .service__text{

    display: none;
    flex-direction: column;
   
  }

  .service__text h5{
    padding-left: 50px;
    width: 100vw;
    font-size: 10px;
    border: 1px solid #ddd;
    line-height: 24px;
  }


  .footer__payment{
    margin-top: 30px;
  }

  .show{
    display: flex;
    
  }
 
 


  
}

