* {
  font-family: "Nunito Sans";
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  border: none;
}

button {
  background-color: #005cff;
  color: #fff;
  width: 222px;
  height:40px;
  border-radius: 8px;
}

input{
  width: 280px;
  height:48px;
  border-radius: 8px;
  
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 55px;
}

.content-wrapper--gray {
  background-color: #dedede;
}
