header {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.slide__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100vw;
  background-color: #005cff;
  color: #fff;
  gap: 4px;
  font-size: 14px;
  line-height: 24px;
}

.slide__text span {
  background-color: #6220c1;
  border-radius: 7px;
  font-size: 14px;
}

.slide__text p {
  font-style: italic;
  background-color: #005cff;
  font-weight: 100;
  font-size: 14px;
}

.menu {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.menu__banner {
  margin-right: 65.42px;
}

.menu__search input {
  height: 38px;
  width: 594px;
  border-radius: 10px;
  border: 1px;
  font-weight: 600;
  line-height: 100%;
}

.menu__profile {
  display: flex;
  margin-left: 275px;
  gap: 24px;
}

.profile__user,
.category__image {
  gap: 8px;
  display: flex;
  align-items: center;
}
.category {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: center;
}

.category__image {
  font-weight: 700;
}
