.menu__search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__search img {
  position: relative;
  left: -27px;
}

.menu__shoppingcart {
  display: flex;
}

.shoppingcart__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background-color: #005cff;
}

.shoppingcart__title p {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
}
